/* Base */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  background-color: white;
  margin: 0px;
}

header{
  width: 100%;
}
nav ul{
  margin: 0 auto;
}
input[type="submit"] {
  padding: 7px 10px;
  background: #DE0000;
  color: #fff;
  border: 0px;
  font-weight: bold;
}
form input[type="text"] {
  margin-bottom: 10px;
  display: block;
  padding: 7px;
  font-size: 15px;
}
.clear{
  clear: both;
}

.mi_container {
  width: 80%;
  margin: 0 auto;
}

/* Header */

#user_menu{
  height: 48px;
  background-color: #DE0000;
}


#user_menu h1 {
  display: inline-block;
  margin: 0;
  margin-top: 8px;

}

#user_menu #logo {
  display: inline-block;
  margin: 0;
  margin-top: 8px;
}

.menu{
  display:block;
  background-color: #3E4156;
}
 
.menu li{
  display: inline-block;
  position: relative;
  z-index:100;
}
 
.menu li a {
  font-weight: 600;
  text-decoration: none;
  padding: 11px;
  display: block;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}

.menu li ul li {
  margin-top: -3px;
}
 
.menu li a:hover, .menu li:hover > a{
  color: #ffffff;
  background: #9CA3DA;
}

/* hide the second level menu */
.menu ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 150px;
  position: absolute;
  top: 43px;
  left: 0px;
  background: #ffffff;
}

/* segundo nivel del menu */
.menu li:hover > ul{
  display: block;
}

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
}
 
.menu ul li a {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #797979;
  border-left: 3px solid #ffffff;
  background: #ffffff;
}
 
.menu ul li a:hover, .menu ul li:hover > a {
  background: #f0f0f0;
  border-left: 3px solid #9CA3DA;
  color: #797979;
}

/* Buscador */

#buscador_principal {
  background: #eee url("../img/buscador_bg.bmp") no-repeat;
}

#buscador {
  float: left;
  margin-top: 20px;
  background: white;
  width: 400px;
  padding: 20px;
}

#buscador h2 {
  margin: 0px;
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

#ofertas {
  float: right;
  margin-top: 20px;
}

#ofertas img {
  height: 140px
}

#ofertas figure {
  margin-top: 0px;
margin-bottom: 20px;
}

#buscador form label {
  display: block;
  margin-bottom: 3px;
  font-size: 13px;
}

#buscador form input[type="text"] {
  margin-bottom: 10px;
  display: block;
  padding: 7px;
  font-size: 15px;
}

#buscador form input[type="submit"] {
  padding: 7px 10px;
  background: #DE0000;
  color: #fff;
  border: 0px;
  font-weight: bold;
}

/* Newsletter */

#newsletter{
  background: #5B5E62;
  margin: 0 ;
}

#suscribirse_newsletter, #anuncio{
  float:left;
}

#anuncio{
  color:white;
}

#newsletter form input[type="email"] {
  margin-bottom: 10px;
  padding: 7px;
  font-size: 15px;
  width: 300px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 10px;
}

#newsletter form input[type="submit"] {
  background: #404040;
  padding: 9px;
}

/* Acerca de */

#acerca_de {
  text-align: center;
}
#acerca_de .info{
  display: inline-block;
  width: 220px;
  text-align: center;
  padding: 20px;
  margin: 0 20px;
}

/* Footer */

#main_footer {
  background: #303033;
  text-align: center;
}

#main_footer .info {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 0 40px;
  width: 220px;
}

#main_footer h3 {
  color: #fff;
}

#main_footer a {
  color: #999999;
}

#main_footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main_footer ul li {
  margin-bottom: 10px;
  font-size: 13px;
}

#main_footer ul li a {
  text-decoration: none;
}


#copyright {
  color: #999999;
  font-size: 13px;
  margin-bottom: 0;
}



#cruceros{
    margin-left: 150px;
    margin-top: 5px;
    
}
/* Media Queries */
@media(max-width: 1088px){
  #buscador {
  width: 400px;
margin: 0 auto;}

  #ofertas  {

  width: 50%;
display: block;
  margin-top: 20px;
}
#ofertas figure{float:left;}
  }

}